{{ define "main" }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{- .Date.Format "2006-01-02" -}}跑步记录</h1>
    <div class="post-meta">
      {{- if or .Params.author .Site.Params.author }}
      {{- .Params.author | default .Site.Params.author }} · {{ end }}
      {{- .Date.Format "2006-01-02" -}}
    </div>
  </header>
  <div class="post-content">{{ .Content }}</div>
  <footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range .Params.tags }}
      {{- $href := print (relLangURL "tags/") (urlize .) }}
      <li><a href="{{ $href }}" class="button btn-outline">{{ . }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    <div class="post-data">
      {{- with .GitInfo }}
      <div class="git-info">
        <h3>{{ i18n "latest_update" }}</h3>
        {{- .AuthorDate.Format "2006-01-02 03:04" -}}<i style="padding: 0 5px">&middot;</i>{{- .Subject -}}
      </div>
      {{- end }}
      <a href="{{ .Site.Params.repo }}/edit/master/content/{{ .File.Path }}">{{ i18n "edit_article" }}</a>
    </div>
  </footer>
  <!-- Comments area start -->
  {{- if not (eq .Params.comments false) }}
  {{- if .Site.DisqusShortname }}
  <div id="disqus_thread"></div>
  <script>
    var disqus_shortname = '{{ .Site.DisqusShortname }}';
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
  <!-- Comments area end -->
  {{- end }}
  {{- end }}
</article>
{{- partial "staticman.html" . }}
{{ end }}
