{{ $opts := dict "minify" "true" }}
{{ $themeJS := resources.Get "js/theme.js" | js.Build $opts }}
<script>
  {{ $themeJS.Content | safeJS }}
</script>
<header class="header">
  <nav class="nav">
    <h1 class="logo"><a href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a></h1>
    {{- if .Site.Menus.main }}
    <ul class="menu">
      {{- range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    <!-- {{ with .OutputFormats.Get "rss" }}
      <a href="{{.Permalink}}" class="rss-link">{{ i18n "subscribe" }}</a>
    {{ end }} -->
    {{ range .Site.Languages }}
      {{ if not (eq $.Site.Language.Lang .Lang) }}
        {{ $relURL := .Lang }}
        {{ if eq .Lang "zh"}}
          {{ $relURL = "" }}
        {{ end }}
      <a href="/{{$relURL}}" class="i18n-link">{{ .LanguageName }}</a>
      {{ end }}
    {{ end }}
    <span style="display: flex; align-items: center; padding-left: var(--gap)">
      <button class="button btn-outline color-switch-button" id="color_switch_button"></button>
    </span>
  </nav>
</header>
<script>
  const DARK_COLOR_SCHEME_NAME = '{{ i18n "dark" }}';
  const LIGHT_COLOR_SCHEME_NAME = '{{ i18n "light" }}';
</script>
{{ $opts := dict "minify" "true" }}
{{ $themeSwitcherJS := resources.Get "js/color-switcher.js" | js.Build $opts }}
<script>
  {{ $themeSwitcherJS.Content | safeJS }}
</script>
   
