<header class="header">
  <nav class="nav">
    <h1 class="logo"><a href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a></h1>
    {{- if .Site.Menus.main }}
    <ul class="menu">
      {{- range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    <!-- {{ with .OutputFormats.Get "rss" }}
      <a href="{{.Permalink}}" class="rss-link">{{ i18n "subscribe" }}</a>
    {{ end }} -->
    {{ range .Site.Languages }}
      {{ if not (eq $.Site.Language.Lang .Lang) }}
        {{ $relURL := .Lang }}
        {{ if eq .Lang "zh"}}
          {{ $relURL = "" }}
        {{ end }}
      <a href="/{{$relURL}}" class="i18n-link">{{ .LanguageName }}</a>
      {{ end }}
    {{ end }}
  </nav>
</header>
   
