{{ $opts := dict "minify" "true" }}
{{ $themeJS := resources.Get "js/theme.js" | js.Build $opts }}
<script>
  {{ $themeJS.Content | safeJS }}
</script>
{{ $prefix := $.Site.Language.Lang }}
{{ $prefix = printf "/%s/" $prefix }}
{{ if eq $.Site.Language.Lang "zh"}}
  {{ $prefix = "/" }}
{{ end }}
<script>
  const SEARCH_PAGE_PREFIX = "{{$prefix}}"
</script>
<header class="header">
  <nav class="nav">
    <h1 class="logo"><a href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a></h1>
    {{- if .Site.Menus.main }}
    <ul class="menu">
      {{- range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    <!-- {{ with .OutputFormats.Get "rss" }}
      <a href="{{.Permalink}}" class="rss-link">{{ i18n "subscribe" }}</a>
    {{ end }} -->
    <span style="display: flex; align-items: center; cursor: pointer" id="search_btn">
      <svg width="1rem" height="1rem" viewBox="0 0 16 16" class="bi bi-search" fill="var(--primary)" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
      </svg>
    </span>
    
    {{ range .Site.Languages }}
      {{ if not (eq $.Site.Language.Lang .Lang) }}
        {{ $relURL := .Lang }}
        {{ if eq .Lang "zh"}}
          {{ $relURL = "" }}
        {{ end }}
      <a href="/{{$relURL}}" class="i18n-link" style="display: flex; align-items: center; cursor: pointer">
        {{- partial "language_emoji.html" (dict "context" . "Lang" .Lang) }}
      </a>
      {{ end }}
    {{ end }}
    <span style="display: flex; align-items: center; padding-left: var(--gap)">
      <button class="button btn-outline color-switch-button" id="color_switch_button"></button>
    </span>
  </nav>
</header>
<script>
  const DARK_COLOR_SCHEME_NAME = '{{ i18n "dark" }}';
  const LIGHT_COLOR_SCHEME_NAME = '{{ i18n "light" }}';
</script>
{{ $opts := dict "minify" "true" }}
{{ $themeSwitcherJS := resources.Get "js/color-switcher.js" | js.Build $opts }}
<script>
  {{ $themeSwitcherJS.Content | safeJS }}
</script>
{{- partial "search.html" . }}

   
