<div class="search-mask" id="search_mask">
  {{ with .Site.GetPage "/pages/search" }}
  <form action="{{.RelPermalink}}">
  {{ end }}
    <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-search" fill="var(--secondary)" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
    </svg>
    <input id="search_mask_input" class="search-input" name="q" autocomplete="off" placeholder="{{ i18n "search" }}" style="margin-left: 10px" />
  </form>
  
  <i class="close-search-icon" id="close_search_btn">
    <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="var(--secondary)" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
    </svg>
  </i>
</div>
{{ $opts := dict "minify" "true" }}
{{ $searchJS := resources.Get "js/header-search.js" | js.Build $opts }}
<script>
  {{ $searchJS.Content | safeJS }}
</script>