{{ with .Get 0 }}
  {{ $date := . }}
  {{ $year := substr $date 0 4 }}
  {{ $month := substr $date 5 2 }}
  {{ $day := substr $date 8 2 }}
  {{ with index $.Page.Site.Data.running $year $month $day }}
    <table class="day-running-table running-table">
      <tr>
        <th width="25%">Distance</th>
        <td width="75%">{{ .distance }} KM</td>
      </tr>
      <tr>
        <th width="25%">Duration</th>
        <td width="75%">{{ .duration }} minutes</td>
      </tr>
      <tr>
        <th width="25%">Pace</th>
        {{ $minutes := math.Floor (div .duration .distance) }}
        {{ $seconds := mul (div (mod .duration .distance) .distance) 60 }}
        <td width="75%">{{ $minutes }}'{{ math.Floor $seconds }}''</td>
      </tr>
      <tr>
        <th width="25%">Heart Rate</th>
        <td width="75%">{{ .heartRate }} BPM</td>
      </tr>
      <tr>
        <th width="25%">Steps</th>
        <td width="75%">{{ .steps }}</td>
      </tr>
      <tr>
        <th width="25%">Cadence</th>
        <td width="75%">{{ math.Floor (div .steps .duration) }} SPM</td>
      </tr>
    </table>
  {{ else }}
  {{ errorf "missing value for running record: %s-%s-%s" $year $month $day }}
  {{ end }}
{{ end }}